<div class="container main content main-wrapper">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="title_404">{{ 'general.404.title' | t }}</h1>
  </div>

  <div class="sixteen columns">
    <div class="section clearfix">
      <p class="sub_title_404 align_center">
        {{ 'general.404.subtext' | t }}
      </p>
      <div class="align_center">
        <a href="{{ shop.url }}" class="btn action_button">{{ 'general.404.back_btn_text' | t }}</a>
      </div>
    </div>
  </div>
</div>
<style>
  html, body, #content_wrapper {
    height: 100%;
    padding-bottom: 0 !important;
  }
</style>
