<div class="content container-fluid banner-title page-title--wrapper">
  <h1 class="center">
    {{ page.title }}
  </h1>
</div>
{{ page.content }}

<div class="page-content">

  {% section 'image-with-text-overlay-section' %}

  {% section 'page-content-grid' %}

  {% section 'content-gallery' %}

  {% section 'page-image-text' %}

  {% section 'featured-text' %}

  {% section 'content-with-icon' %}

  {% section 'logo-bar' %}

  {% section 'social-feeds' %}

  {% section 'featured-promotions' %}

  {% section 'newsletter' %}

</div>
